<div class="row">
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-checkout:hour"}]' format="hour" title="Checkouts by hour"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-checkout:day"}]' format="day" title="Checkouts by day"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-checkout:age"}]' title="Checkouts by age" groups="5,6-10,11-14,15-18,19-25,26-40,41-65,66"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-checkout:format"}]' title="Checkouts by format" type="Pie"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-checkout:act150_loc"}]' title="Checkouts by Act 150 Location" type="Pie"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-item-record:day"}]' format="day" title="Item records by day"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-patron-record:day"}]' format="day" title="Patron records by day"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-item-record:hour"}]' format="hour" title="Item records by hour"></dashboard-chart>
  </div>
  <div class="col-lg-4 col-sm-12">
    <dashboard-chart series='[{"action":"ils-patron-record:hour"}]' format="hour" title="Patron records by hour"></dashboard-chart>
  </div>
</div>

