<div class="toolbar">
  <ul>
    <li><a ng-click="selectType('Bar')"><i class="fa fa-bar-chart"></i></a></li>
    <li><a ng-click="selectType('Pie')"><i class="fa fa-pie-chart"></i></a></li>
    <li><a ng-click="selectType('Line')"><i class="fa fa-line-chart"></i></a></li>
    <li><a ng-click="selectType('Table')"><i class="fa fa-table"></i></a></li>
    <li class="spacer"></li>
    <li><a ng-click="makeImage()"><i class="fa fa-image"></i></a></li>
    <li><a ng-click="exportExcel()"><i class="fa fa-file-excel-o"></i></a></li>
  </ul>
</div>