<div class="row">
  <div class="col-md-4">
    <div class="widget" ng-controller="CirculationSummaryCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Summary (rank if applicable)</div>
        <div class="panel-body">
          <div class="waiting" ng-show="waiting"><i class="fa fa-spinner fa-spin"></i></div>
          <table>
            <tr><th>Checkouts</th><td class="text-right">{{checkouts | number}} <span ng-bind="checkoutsRank"></span></td></tr>
            <tr><th>Checkins</th><td class="text-right">{{checkins | number}} <span ng-bind="checkinsRank"></span></td></tr>
            <tr><th>Renewals</th><td class="text-right">{{renewals | number}} <span ng-bind="renewalsRank"></span></td></tr>
            <tr><th>Total Circulation</th><td class="text-right">{{totalcirc | number}} </td></tr>
            <tr><th>Items Borrowed</th><td class="text-right">{{borrowed | number}} <span ng-bind="borrowedRank"></span></td></tr>
            <tr><th>Items Lent</th><td class="text-right">{{loaned | number}} <span ng-bind="loanedRank"></span></td></tr>
            <tr><th>Net Difference</th><td class="text-right">{{net | number}}</td></tr>
            <tr><th>% Locally-owned Checkouts</th><td class="text-right">{{locallyowned | number:2}}%</td></tr>
            <tr><th>New Patrons</th><td class="text-right">{{patrons | number}} <span ng-bind="patronsRank"></span></td></tr>
            <tr><th>New Items</th><td class="text-right">{{items | number}} <span ng-bind="itemsRank"></span></td></tr>
            <tr><th>Pharos Sessions</th><td class="text-right">{{pharos | number}} <span ng-bind="pharosRank"></span></td></tr>
            <tr><th>Wireless Sessions</th><td class="text-right">{{wireless | number}} <span ng-bind="wirelessRank"></span></td></tr>
            <tr><th>Overdrive Checkout</th><td class="text-right">{{overdrive | number}} <span ng-bind="overdriveRank"></span></td></tr>
            <tr><th>Website Visits</th><td class="text-right">{{website | number}} <span ng-bind="websiteRank"></span></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="widget" ng-controller="CirculationTimeSeriesCtrl">
      <div class="panel panel-default">
        <div class="panel-heading">Past 12 Months - {{selectedAction.name}}</div>
        <div class="panel-body">
          <div class="waiting" ng-show="waiting"><i class="fa fa-spinner fa-spin"></i></div>
          <canvas id="{{options.id}}" class="chart-base" chart-options="options.other" chart-legend="{{options.legend}}" chart-type="options.type" chart-data="options.data" chart-labels="options.labels" chart-series="options.series"></canvas>
          <div style="text-align: center;">
            Choose a stat: <select ng-model="selectedAction" ng-options="metric.name for metric in metrics track by metric.metric"></select>
          </div>
        </div>
      </div>
    </div>
    <dashboard-chart series='[{"action":"ils-checkout:statgroup","name":"Checkouts"},{"action":"ils-checkin:statgroup","name":"Checkins"},{"action":"ils-renewal:statgroup","name":"Renewals"}]' type="Table" title="Activity by Terminal"></dashboard-chart>
  </div>
</div>